<h1>
	<span id="panel-subnav-header"></span>
	<span id="panel-subnav-trigger"></span>
</h1>
<span id="panel-subnav-content"></span>
<br>
This is a Navigation Panel One from <a href="http://www.j-tricks.com">J Tricks</a>