<p>
    #renderIssueLinkIcon(${iconUrl} ${iconTooltip} ${iconTooltip} ${textutils})
    <span title="${textutils.htmlEncode($tooltip)}">
        <a href="${url}" class="link-title">${textutils.htmlEncode($title)}</a>
    </span>
    #if ($status) - 
    <span title="Status: $status">
    	<span class="status"><b>says:</b> "$status"</span>
    </span>
    #end
</p>